@import '../../styles/palette.scss';

.rewards-screen {
  position: absolute;
  z-index: 100; // so it sits above canvas

  // This blocks mouse over game canvas - which is good, so
  // it should totally cover playable area
  width: 60%;
  height: 95%;

  border: 15px solid $borderDark;
  background-color: $bluePrimary;

  transition: all 0.75s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    transform: translateY(0);
  }

  &.closed {
    transform: translateY(-200%);
  }

  .reward-cards {
    flex: 0 0 90%;
    height: 60%;
    border: 1px solid black;
  }
}
