@import '../../styles/palette.scss';

.rewards-screen {
  position: absolute;
  z-index: 100; // so it sits above canvas

  // This blocks mouse over game canvas - which is good, so
  // it should totally cover playable area
  width: 100%;
  height: 100%;
  padding: 20px;

  justify-content: space-around;
  gap: 10px;

  .reward-cards {
    flex: 0 0 50%;
    width: 100%;

    justify-content: space-between;

    .reward {
      cursor: pointer;
      transition: all 0.1s linear;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
