@import './palette.scss';

.box {
  border: 5px ridge $blueAccent;
  background-color: $blueDark;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.dialog {
  border: 15px solid $borderDark;
  background-color: $bluePrimary;

  transition: all 0.3s ease-in-out;

  &.open {
    transform: scale(1);
  }

  &.closed {
    transform: scale(0);
  }
}
