@import './palette.scss';

.box {
  border: 5px ridge $blueAccent;
  background-color: $blueDark;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}
