// bluePrimary is used for the main background colour
$bluePrimary: #306082;
// Used for borders of the game frame
$blueDark: #1c394d;
// Lighter blue used for button borders
$blueAccent: #639bff;

// Used for the border of the game frame
$greyDark: #080f14;

// Used for dialog borders
$borderDark: #222034;

// Used for background of the game
$gameBackground: #323c39;
