@import '../../../styles/palette.scss';

.button {
  user-select: none;
  padding: 5px;
  border: 3px solid $blueAccent;
  background-color: $bluePrimary;

  &.enabled {
    cursor: pointer;
    .button-inner:hover {
      border-style: groove;
    }
  }

  &.disabled {
    color: rgb(160, 160, 160);
  }

  .button-inner {
    padding: 5px 15px;
    border: 5px solid $blueAccent;
  }
}
