@import './styles/palette.scss';

.game-root {
  background-color: #306082;

  display: flex;
  justify-content: center;
  align-items: center;

  #game-stage {
    flex: 0 0 50%;
    height: 100%;
    min-width: 500px;
  }
}
